/*body {
    background:url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
}*/
/*My backround*/


.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  animation-name: show-for-a-while;
  animation-duration: 24s; /*50s;*/
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.bg img:nth-child(1) { animation-delay: -24s; }
.bg img:nth-child(2) { animation-delay: -16s; }
.bg img:nth-child(3) { animation-delay: -8s; }

/* Add .debug class to see the images. */
.bg.debug img:nth-child(1) { margin-top: 1em; }
.bg.debug img:nth-child(2) { margin-top: 2em; }
.bg.debug img:nth-child(3) { margin-top: 3em; }

@keyframes show-for-a-while {
  0%,30% { opacity: 1; }
  35%,95% { opacity: 0; }
}

/* Misc. styling below */

html, body {
  margin: 0;
  padding: 0;
}

article {
  max-width: 30em;
  text-align: justify;
  text-indent: 2em;
  margin: auto;
  background: rgba(255, 255, 255, 0.875);
  padding: 2em;
  border-radius: 2em;
  border: 1px solid rgba(0, 0, 0, 0.875);
  font-family: sans-serif;
  line-height: 1.5;
}
article :first-child {
  margin-top: 0;
}
article :last-child {
  margin-bottom: 0;
}
/*Fin background*/


.title {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.btn-pedir{
    position:absolute;
    top:200px;
    left:40%;
    display: inline-block;
    padding: 140px 150px;
    cursor: pointer;
    background:url(../imagenes/Pizza.png);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #9b0f11;
}

.btn-pedir:hover{
    background:url(../imagenes/PizzaPress.png);
    box-shadow: 0 5px #9b0f11;
}

.btn-pedir:active{
    box-shadow:none;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
footer {
      overflow: hidden;
      position: fixed;
      top: 50;
      bottom: 0px;
      color: white;
      background-color: #333;
      width: 100%;
      height: 30px;
      font-family: antipasto;
}
.rightcontainer{
    float: right;
}
a:visited {
    color: green;
}
a:hover {
    color: blue;
}