<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Pagina Principal</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

$(function(){
    $("#accion").on(({
    mousedown: function(){
        $("footer").show();
    },
    mouseup: function(){
        $("footer").hide();
    },
    }));
});
</script>
</head>
<body>
<div class="bg" id="accion" >
    <img th:src="@{/imagenes/fondoPizza.jpg}"/>
    <img th:src="@{/imagenes/pizza2.jpg}"/>
    <img th:src="@{/imagenes/pizza3.jpg}"/>
</div>
<div class="navbar" >
    <a class="title">Pizza Hunter</a>
    <div th:if="${email} == 'anonymousUser'" align="right">
        <div class="btn-group">
            <a  class="btn" href="/registration">Registrar</a>
            <a  class="btn" href="/login">Iniciar Sesion</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn" th:if="${email} != 'anonymousUser'" th:text="${name}"></button>
        <div class="dropdown-content">
            <div th:each="role : ${roles}" th:if="${role.name} == 'ADMIN'">
                <a class="btn" href="/admin/empresas">Administrar</a>
                <a class="btn" href="/admin/listar">Ver Usuarios</a>
            </div>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<a th:if="${TamPedido}!=1" class="btn-pedir" title="Pedir" href="/Lista_de_pedidos"></a>
<a th:if="${TamPedido}==1" class="btn-pedir" title="Pedir" href="/pedidoPdefecto"></a>

<footer>
    <div class="container">
        <div class="leftcontainer">
            &copy;2017 All rights reserved &nbsp;
            <div class="rightcontainer">
                <a href="https://www.facebook.com">¿¡quienes somos!? </a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>