<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link href="../static/css/listasForm.css" th:href="@{/css/listasForm.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Detalles de la empresa</h1>
        <div>
            <form class="form-horizontal" th:object="${empresa}" th:action="@{/admin/empresa}" method="post">
                <input type="hidden" th:field="*{idEmpresa}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{nombre}"/>
                        <span style="color: red;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Direccion:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{direccion}"/>
                        <span style="color: red;" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Error</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Telefono:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{telefono}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripcion:</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" th:field="*{descripcion}"></textarea>
                        <span style="color: red;" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error</span>
                    </div>
                </div>
                <!-- <div class="select">
                    <label>Administrador:</label>
                    <select th:field="*{users}">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"></option>
                    </select>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">URL Imagen:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{image}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>